body{
    background-image: none;
    background-color: black;
    font-family:'Goldman', cursive;
}

.members-count,
  .members-list,
  .messages { 
    width: 100%;
    height: 100%;
    background-color: orangered;
    color: white;
    z-index: -1;
    border-radius: 1em;
    padding: 10px;
    margin-bottom: 15px;
  }
  .messages:hover{
    animation: transition 80s;
  }

  .messages {
    
    overflow: auto;
  }

  .message {
    padding: 5px 0;
    
  }
  .message .member {
    display: inline-block;
  }

  .member {
    padding-right: 10px;
    position: relative;
  }

  .message-form {
   display: flex;
    flex-shrink: 0;
   
  }
  .message-form__input {
    flex-grow: 1;
    background-color: orangered;
    border-color: white;
    color: white;
    padding: 10px; 
    border-radius: 1em;
    border: 10px ;
    width: 300;
    font-size: 40px;
  }

  #box{
    width:500;
    }

    #drag {
        position: absolute;
      }
      
      #drag1 {
        position: absolute;
      }
      
      #drag2 {
        position: absolute;
      }
      
      #drag3 {
        position: absolute;
      }
      
      #drag4 {
        position: absolute;
      }
      
      #drag5 {
        position: absolute;
      }
      
      #drag6 {
        position: absolute;
      }
      
      #drag7 {
        position: absolute;
      }