body{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(203,57,152,1) 40%, rgba(224,95,121,1) 67%);
    }
    
    input{
    background: white;
    filter: blur(10px);
    z-index: -1;
    border-radius: 1em;
    padding: 30px;
    }
    a{
    background: white;
    z-index: -1;
    border-radius: 1em;
    padding: 15px;
    font-size: x-large;
    }