body{
  background-image: url(..//images/indexbggg.gif);
  background-size: cover;
  background-color: hotpink;
  cursor: url(../images/cursor10.gif), url(../images/cursor10.gif), default;
  font-family: 'Press Start 2P', cursive;
}

#phonedisplay{
  display: none;
}
button{
  color: darkmagenta;
  font-family: 'Press Start 2P', cursive;
}

#cmt {
  color: darkmagenta;
  font-size: 30px !important;
  position:absolute;
  top: -20%;
  text-align: center !important;
}

h2{
  color: darkmagenta;
}

#phone{
    width: 30%;
    height: 60%;
    background-color: fuchsia;
    border: 8px solid fuchsia;
    top: 15%;
    left: 35%;
    position: absolute;
    background-image: url(../images/tenor-2.gif);
    background-size: cover;
}
#cs1{
    font-family: 'Goldman', cursive;
    color: white;
    font-size: 50px;
    position: absolute;
    text-align: center;
    width: 30%;
    height:30%;
    background-image: url(..//images/datamine.png);
    background-size: cover;
    background-color: fuchsia;
    border: 10px solid fuchsia;
    position: absolute;
    top: 5%;
    left: 68%;
}

#cs2{
    font-family: 'Goldman', cursive;
    color: white;
    font-size: 30px;
    position: absolute;
    text-align: center;
    width: 30%;
    height: 30%;
    background-image: url(..//images/casebig.png);
    background-size: cover;
    border: 10px solid fuchsia;
    position: absolute;
    top: 63%;
    left: 2%;
}
#cs3{
    font-family: 'Goldman', cursive;
    color: white;
    font-size: 30px;
    position: absolute;
    text-align: center;
    width: 30%;
    height: 40%;
    background-image: url(..//images/camcontent.png);
    background-size: cover;
    border: 10px solid fuchsia;
    position: absolute;
    top: 45%;
    left: 67%;
}
#am{
    font-family: 'Goldman', cursive;
    width: 30%;
    height: 54%;
    font-size: xx-large !important;
    text-align: center;
    background-color: fuchsia;
    border: 10px solid fuchsia;
    position: absolute;
    top: 3%;
    left: 3%;
    background-color: white;
    overflow: scroll !important;
}

#cm{
    font-family: 'Goldman', cursive;
    width: 28%;
    height: 10%;
    background-image:url(../images/original.gif);
    border: 10px solid fuchsia;
    position: absolute;
    top: 83%;
    left: 36%;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 2s ease;
    background-image: url(../images/FarMediocreJuliabutterfly-size_restricted.gif);
    background-size: cover;
  }

  
  #am:hover {
    color: red;
    background-image: url(../images/tenor.gif);
    background-size: cover;
  }

  #cm:hover{
    background-image: url(../images/original.gif);
  }

  #drag {
    position: absolute;
    top:58%; 
    left:15%; 
  }
  #drag>img{
    width:30%;
  }
  #drag1 {
    position: absolute;
    top: 30%; 
    left:52%; 
  }
  #drag1>img{
    width:95%;
  }

  #drag2 {
    position: absolute;
    top:31%; 
    left:8%;
  }
  #drag2>img{
   width:38%;
  }

  #drag3 {
    position: absolute;
    top:3%; 
    left:65%; 
  }
  #drag3>img{
    width:35%;
  }

  #drag4 {
    position: absolute;
    top:50%; left:64%; 
  }
  #drag4>img{
    width:70%;
  }

  #drag5 {
    position: absolute;
    top:5%; 
    left:73%;
  }
  #drag5>img{
    width:60%;
  }

  #drag6 {
    position: absolute;
    top:52%; 
    left:25%;
  }
  #drag6>img{
    width:35%;
  }
  #drag6>img:hover{
    border: 8px darkmagenta solid;
  }

  #drag7 {
    position: absolute;
    top:43%; 
    left:50%; 
  }
  #drag7>img{
    width:40%;
  }

  #drag8 {
    position: absolute;
    top:4%; 
    left:13%;
  }
  #drag8>img{
    width:20%;
  }

  #drag9 {
    position: absolute;
    top:65%; 
    left:55%; 
  }
  #drag9>img{
    width:50%;
  }
  #drag9>img:hover{
    border: 8px darkmagenta solid;
  }
  #drag10 {
    position: absolute;
    top:37%; 
    left:16%; 
  }
  #drag10>img{
    width:40%;
  }

  #drag11 {
    position: absolute;
    top:60%; 
    left:84%; 
  }
  #drag11>img{
    width:90%;
  }
  #drag11>img:hover{
    border: 8px darkmagenta solid;
  }

  #drag12 {
    position: absolute;
    top:2%; 
    left:30%; 
  }
  #drag12>img{
    width:50%;
  }
  #drag12>img:hover{
    border: 8px darkmagenta solid;
  }

  #drag13 {
    position: absolute;
    top:65%; 
    left:32%; 
  }
  #drag13>img{
    width:45%;
  }
  #drag13>img:hover{
    border: 8px darkmagenta solid;
  }
  #drag14 {
    position: absolute;
    top: 25%; 
    left:5%; 
  }
  #drag14>img{
    width:35%;
  }

  #drag15 {
    position: absolute;
    top:7%; 
    left:2%;
  }
  #drag15>img{
    width:15%;
  }
  #drag15>img:hover{
    border: 8px darkmagenta solid;
  }
  #drag16 {
    position: absolute;
    top:70%; 
    left:13%; 
  }
  #drag16>img{
    width:25%;
  }

  #drag17 {
    position: absolute;
    top: 1%; 
    left:53%; 
  }
  #drag17>img{
    width:40%;
  }

  #drag18 {
    position: absolute;
    top:45%; 
    left:68%; 
  }
  #drag18>img{
    width:60%;
  }
  #drag18>img:hover{
    border: 8px darkmagenta solid;
  }

  #drag19 {
    position: absolute;
    top:19%; 
    left:24%; 
  }
  #drag19>img{
    width:35%;
  }

  #drag20 {
    position: absolute;
    top: 25%; 
    left:76%; 
  }
  #drag20>img{
    width:40%;
  }

  @media only screen and (min-width: 375px) and (max-width: 1000px) {
    #phone{
      width: 70%;
      height: 65%;
      background-color: fuchsia;
      border: 20px solid fuchsia;
      top: 15%;
      left: 15%;
      position: absolute;
      background-image: url(../images/indexbggg.gif);
      background-size: cover;
  }
  button{
   display: none;
  }
  h2{
    color: fuchsia;
    font-size: xx-large;
  }



  #drag {
    position: absolute;
    top:68%; 
    left:15%; 
  }
  #drag>img{
    width:50%;
  }

  #drag1 {
    position: absolute;
    top: 30%; 
    left:10%; 
  }
  #drag1>img{
    width:98%;
  }

  #drag2 {
    position: absolute;
    top:31%; 
    left:100%;
  }
  #drag2>img{
   width:88%;
  }

  #drag3 {
    position: absolute;
    top:3%; 
    left:75%; 
  }
  #drag3>img{
    width:85%;
  }

  #drag4 {
    position: absolute;
    top:70%; 
    left:64%; 
  }
  #drag4>img{
    width:100%;
  }

  #drag5 {
    position: absolute;
    top:50%; 
    left:73%;
  }
  #drag5>img{
    width:90%;
  }

  #drag6 {
    display: none;
  }
  #drag6>img{
   display: none;
  }
  

  #drag7 {
    position: absolute;
    top:60%; 
    left:3%; 
  }
  #drag7>img{
    width:20%;
    height: 30%;
  }

  #drag8 {
    position: absolute;
    top:74%; 
    left:60%;
  }
  #drag8>img{
    width:50%;
  }

  #drag9 {
    position: absolute;
    top:85%; 
    left:55%; 
  }
  #drag9>img{
    width:60%;
  }
  
  #drag10 {
    position: absolute;
    top:17%; 
    left:3%; 
  }
  #drag10>img{
    width:40%;
    height: 30%;
  }

  #drag11 {
    position: absolute;
    top:86%; 
    left:14%; 
  }
  #drag11>img{
    width:30%;
  }
 

  #drag12 {
    position: absolute;
    top:5%; 
    left:30%; 
  }
  #drag12>img{
    width:70%;
  }
  

  #drag13 {
    position: absolute;
    top:15%; 
    left: 3%; 
  }
  #drag13>img{
    width:45%;
    height: 33%;
  }
  
  #drag14 {
    position: absolute;
    top: 25%; 
    left:5%; 
  }
  #drag14>img{
    width:45%;
  }

  #drag15 {
    position: absolute;
    top:3%; 
    left:4%;
  }
  #drag15>img{
    width:35%;
  }
  #drag16 {
    position: absolute;
    top:2%; 
    left:13%; 
  }
  #drag16>img{
    width:35%;
  }
  #drag17 {
    position: absolute;
    top: 78%; 
    left:53%; 
  }
  #drag17>img{
    width:40%;
  }
  
  pre{
    background-color: fuchsia;
    width: fit-content;
  }

  #phonedisplay{
    display: block;
    width: 70%;
    height: 40%;
    background-color: fuchsia;
  }

  }

  
  
