body{
    background-image: url("../images/sparklecloud.gif"); 
    background-color: blue;
    background-repeat: repeat;
    
    }

    button{
        color: white;
        background-color: violet;
    }