body{
  background-image: url(../images/clouds.gif);
  background-repeat: repeat;
  cursor: url(../images/cursor10.gif), url(../images/cursor10.gif), default;
}



button{
  color: darkmagenta;
  font-family: 'Press Start 2P', cursive;
}

#text {
  color: darkmagenta;
  font-size: 30px;
  position: absolute;
  text-align: center;
}

#phone{
    width: 400px;
    height: 400px;
    background-color: fuchsia;
    border: 5px solid fuchsia;
    top: 100px;
    left: 500px;
    position: absolute;
    background-image: url(../images/tenor-2.gif);
    background-size: cover;
}
#cs1{
    font-family: 'Goldman', cursive;
    color: white;
    font-size: 30px;
    position: absolute;
    text-align: center;
    width: 400px;
    height: 200px;
    background-color: fuchsia;
    border: 2px solid fuchsia;
    position: absolute;
    top: 50px;
    left: 950px;
}
#cs2{
    font-family: 'Goldman', cursive;
    color: white;
    font-size: 30px;
    position: absolute;
    text-align: center;
    width: 400px;
    height: 200px;
    background-color: fuchsia;
    border: 2px solid fuchsia;
    position: absolute;
    top: 400px;
    left: 50px;
}
#cs3{
    font-family: 'Goldman', cursive;
    color: white;
    font-size: 30px;
    position: absolute;
    text-align: center;
    width: 400px;
    height: 300px;
    background-color: fuchsia;
    border: 2px solid fuchsia;
    position: absolute;
    top: 300px;
    left: 930px;
}
#am{
    font-family: 'Goldman', cursive;
    width: 400px;
    height: 320px;
    background-color: fuchsia;
    border: 2px solid fuchsia;
    position: absolute;
    top: 50px;
    left: 20px;
    background-image: url(../images/tenor.gif);
    background-size: cover;
}
#cm{
    font-family: 'Goldman', cursive;
    width: 390px;
    height: 40px;
    background-image:url(../images/004e1956f6343c63d25c84887c4ec5d4.gif);
    border: 2px solid fuchsia;
    position: absolute;
    top: 540px;
    left: 510px;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 2s ease;
    background-color: red;
    background-image: url(../images/FarMediocreJuliabutterfly-size_restricted.gif);
    background-size: cover;
  }

  

 
  
  #cs1:hover #overlay {
    opacity: 1;
  }
  #cs2:hover #overlay {
    opacity: 1;
  }
  #cs3:hover #overlay {
    opacity: 1;
  }
  
  #am:hover {
    color: red;
    background-image: url(../images/giphy-4.gif);
    background-size: cover;
  }

  #cm:hover{
    background-image: url(../images/original.gif);
  }

  
  
  #drag {
    position: absolute;
  }
  
  #drag1 {
    position: absolute;
  }
  
  #drag2 {
    position: absolute;
  }
  
  #drag3 {
    position: absolute;
  }
  
  #drag4 {
    position: absolute;
  }
  
  #drag5 {
    position: absolute;
  }
  
  #drag6 {
    position: absolute;
  }
  
  #drag7 {
    position: absolute;
  }
  
  #drag8 {
    position: absolute;
  }
  
  #drag9 {
    position: absolute;
  }
  
  #drag10 {
    position: absolute;
  }
  
  #drag11 {
    position: absolute;
  }
  
  #drag12 {
    position: absolute;
  }
  
  #drag13 {
    position: absolute;
  }
  
  #drag14 {
    position: absolute;
  }
  
  #drag15 {
    position: absolute;
  }
  
  #drag16 {
    position: absolute;
  }
  
  #drag17 {
    position: absolute;
  }
  
  #drag18 {
    position: absolute;
  }
  
  #drag19 {
    position: absolute;
  }
  
  #drag20 {
    position: absolute;
  }
  
  #drag21 {
    position: absolute;
  }
  
  #drag22 {
    position: absolute;
  }
  
  #drag23 {
    position: absolute;
  }

  #drag24 {
    position: absolute;
  }
  
  #drag25 {
    position: absolute;
  }
  #drag26 {
    position: absolute;
  }
  
  #drag27 {
    position: absolute;
  }

  #drag28 {
    position: absolute;
  }
  
  #drag29 {
    position: absolute;
  }

  #drag30 {
    position: absolute;
  }
  
  #drag31 {
    position: absolute;
  }
  
  