@font-face {font-family:"ShadowedBlack Normal";src:url("assets/Shadowed_Black.eot?") format("eot"),url("assets/Shadowed_Black.woff") format("woff"),url("https://cdn.glitch.com/47fa30f5-a0cf-4b4b-9488-ae5b5b4d9045%2FShadowed_Black.ttf?v=1599002949592") format("truetype"); font-weight:normal;font-style:normal;}

body{
background-image: url("assets/Screen\ Shot\ 2020-09-17\ at\ 12.35.27\ PM.png");
background-position: center;
background-repeat: repeat;
background-size: cover;
font-family: "ShadowedBlack Normal";
font-size: larger;
width: 29%; 
padding: 0px !important;
}


button{
	background-color: white;
	color: black;
	font-family: "ShadowedBlack Normal";
  font-size: xx-large;

}

button:hover{
	background-color: white;
	color: hotpink;
}
p:hover{

	color: black;
}

#drag {
  position: absolute;
}

#drag1 {
  position: absolute;
}

#drag2 {
  position: absolute;
}

#drag3 {
  position: absolute;
}

#drag4 {
  position: absolute;
}

#drag5 {
  position: absolute;
}

#drag6 {
  position: absolute;
}

#drag7 {
  position: absolute;
}

#drag8 {
  position: absolute;
}

#drag9 {
  position: absolute;
}

#drag10 {
  position: absolute;
}

#drag11 {
  position: absolute;
}

#drag12 {
  position: absolute;
}

#drag13 {
  position: absolute;
}

#drag14{
    position: absolute;
  }
  
  #drag15 {
    position: absolute;
  }
  
  #drag16 {
    position: absolute;
  }
  
  #drag17 {
    position: absolute;
  }
  
  #drag18 {
    position: absolute;
  }
  
  #drag19 {
    position: absolute;
  }
  
  #drag20 {
    position: absolute;
  }
  
  #drag21 {
    position: absolute;
  }
  
  #drag22 {
    position: absolute;
  }
  
  #drag23 {
    position: absolute;
  }
  
  #drag24 {
    position: absolute;
  }
  
  #drag25 {
    position: absolute;
  }
  
  #drag26 {
    position: absolute;
  }
  
 

