body {
    background-image: url("assets/Screen\ Shot\ 2020-09-24\ at\ 3.14.41\ PM.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    color:red;
    font-size: larger;
    width: 20%;
    padding: 0px !important;
  }
  