body {
  background-image: url("assets3/Screen\ Shot\ 2020-09-24\ at\ 2.50.05\ PM.png");
  background-repeat: repeat;
  background-size: cover;
  background-color: lightblue;
  font-family: "Anton", sans-serif;
}

.static {
  padding: 20px;
}

.moving {
  position: relative;
  margin-top: 10px;
  animation: push ease 5s alternate infinite;
  animation-delay: 2.5s;
}

@keyframes push {
  0% {
    left: 100px;
    top: 10px;
  }

  50% {
    left: -20px;
    top: 100px;
  }
  100% {
    top: 200px;
    left: 300px;
  }
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
}

p {
  background-color: lightcyan;
  color: black;
}

